body {
    line-height: 1.47059;
    font-weight: 400;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial";
    background-color: #fff;
    font-style: normal;
  margin: 0;
  z-index: -1;
  margin-bottom: -10px;
}

.bg_image{
  display: flex;
  width: 100%;
  height: 1100px;
  margin-top: -720px;
  /* margin-bottom: 0px; */
}

/* .container {
  max-width: 100px;
  margin: 1rem 2rem;
} */

.card-grid {
  margin-top: 10px;
  margin-left: 120px;
  display: flex;
  align-items: center;
  width: 1430px;
  height: 620px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 3rem;
}

.card-grid2 {
  margin-top: -230px;
  margin-left: 120px;
  display: flex;
  align-items: center;
  width: 1430px;
  height: 630px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 3rem;
}


.card {
  font-size: 230%;
  z-index: 1;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 70px 70px; 
  box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(114, 112, 112, 0.6);
  box-shadow: 7px 7px 7px 7px rgba(189, 185, 185, 0.6);

  background-color:  #0dbab1;
  border: 1px solid #085e72;
  border-width: 0px;
  transform-style: preserve-3d;
  width: 330px;
  height: 310px;
  transition: 220ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
  translateY(var(--translate-y, 0));
} 

 .card:hover {
  --translate-y: -8px;
  box-shadow: 0 0 5px 1px rgba(3.1, 36.9, 44.7);
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front,
.card .back {
  position: absolute;
  padding: 0rem;
  backface-visibility: hidden;
  
} 
 
.card .back {
  transform: rotateY(180deg);
}

.card_bg{
  margin-top: 10px;
  width: 360px;
  height: 218px;
  margin-left: -10px;
  z-index: -3;
  opacity: 75%;
}

.navbar{
  background-color: rgb(0, 0, 0);
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  margin-left: 0px;
  opacity: 90%;
  color: #f7f5f5;
  font-weight: 100;
} 

.navicon{
  display: flex;
  margin-left: 390px;
  width: 180px;
  height: 100px;
  border-radius: 50px 50px;
}


.usericon{
  margin-left: 630px;
  margin-top: 25px;
}

.user_icon{
  width: 50px;
  height: 50px;
}

.second{
  margin-left: 75px;
  margin-top: 5px;
}

.third{
  margin-left: 75px;
  margin-top: 5px;
}



