.page{
  background-color: #0d98ba;
  /* display: flex; */
}


.logo {
  margin-left: 550px;
  margin-top: 155px;
  z-index: 1;
  width: 370px;
  height: 370px;
  opacity: 85%;
  padding: 30px;
  border-radius: 360px 360px;
}


.text {
  text-align: center;
  margin-top: -25px;
  margin-left: 570px;
  font-size: 25px;
  font-weight: bold;
  font-family: monospace;
  color: rgb(241, 241, 241);
  font-stretch: wider;
  padding: 5px;
}

.link {
  text-decoration: none;
}